body {
	width: 100vw;
	height: calc(100vh - 3px);
	margin: 0;
	background-color: rebeccapurple;
	box-sizing: border-box;
	overflow: hidden;
	color: #fff;
}

h1, h2, h3, p, a {
	color: inherit;
}

.menu {
	position: absolute;
	top: 0;
	left: 0;
}